*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body{
  color: white;
  background-color: #1b1b32;
  font-family: 'Lucida Sans';
  /* margin-top: 10px; */

}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
}
#image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 960px;
    height: 640px;

}